@charset "UTF-8";

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h5 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

html, body {
  height: 100%;
  background: #aad9af;
}
/*加载进度条*/
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fafafa;
}

.loading .pic {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../image/loading.gif);
}

.sidebar {
  width: 20%;;
  height: 100%;
  position: fixed;
}
.sidebar img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.side-content {
  padding: 160px 40px 0;
  font-size: 13px;
  color: #0a8224;
}

#menu {
  position: absolute; 
  right: -20px; 
  top: 50%; 
  width: 40px; 
  margin-top: -170px; 
  padding: 0; 
  list-style-type: none;
}
#menu li { 
  float: left;
}
#menu a { 
  display: block;
  width: 28px; 
  height: 28px; 
  margin: 20px 6px; 
  border-radius: 14px; 
  text-indent: -9999px; 
  overflow: hidden; 
  background-color: #c0b7a6; 
  background-position: 50%; 
  background-repeat: no-repeat;
}
/*#menu .a1 { 
  background-image: url(images/df-01.png);
}
#menu .a2 { 
  background-image: url(images/df-02.png);
}
#menu .a3 { 
  background-image: url(images/df-03.png);
}
#menu .a4 { 
  background-image: url(images/df-04.png);
}
#menu .a5 { 
  background-image: url(images/df-05.png);
}*/
#menu a:hover, #menu .active a { 
  margin: 14px 0; 
  border: 6px solid #fff; 
  box-shadow: 1px 1px 3px 1px #b4d7ed; 
  border-radius: 20px; 
  background-color: #b8e683;
}
#right-roll {
  width: 63%;
  position: relative;
  left: 450px;
}
.section { 
  position: relative;
  overflow: hidden;
  text-align: center; 
  color: #fff
  
}
.section .bg { 
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
}
.section .bg1 {
  background: linear-gradient(to right top,rgba(0,0,0,0.1),rgba(0,0,0,0)),url(../image/bg-01.png) no-repeat center;
}
.section .bg2 {
  background: linear-gradient(to right top,rgba(0,0,0,0.1),rgba(0,0,0,0)),url(../image/bg-02.png) no-repeat center;
}
.section .bg3 {
  background: linear-gradient(to right top,rgba(0,0,0,0.2),rgba(0,0,0,0)),url(../image/bg-03.png) no-repeat center;
}
.section .bg4 {
  background: linear-gradient(to right top,rgba(0,0,0,0.2),rgba(0,0,0,0)),url(../image/bg-04.png) no-repeat center;
}
.section .bg5 {
  background: linear-gradient(to right top,rgba(0,0,0,0.2),rgba(0,0,0,0)),url(../image/bg-05.png) no-repeat center;
}
/*个人信息*/
.personal-info {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 60%;
  height: 70%;
  margin: 0 0 0 -300px;
  font-size: 24px;
  color: #276446;
  transition: all 1s;
}
.avatar {
  display: inline-block;
  width: 200px;
  height: 200px; 
  border: 10px solid #b8e683;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 110px;
}
.avatar img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.link-list {
  float: right;
  margin-right: 20px;
  margin-top: 40px;
}
.link {
  display: block;
  height: 75px;
  width: 75px;
  border: 7px solid #b8e683;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-transition: 0.4s linear;
  transition: 0.4s ease-in;
  margin-bottom: 35px;
}
#link-github {
  background: url(../image/github.png) no-repeat center;
}
#link-email {
  background: url(../image/email.png) no-repeat center;
}
.link:hover {
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}
/*个人评价*/
.self-evaluation {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 20%;
}
.self-evaluation h2 {
  font-size: 48px;
  color: #108b58;
  letter-spacing: 15px;
}
.self-evaluation p {
  font-size: 16px;
  color: #26af77;
  line-height: 32px;
  text-indent: 2em;
  text-align: left;
}

/*专业技能*/
.professional-skills {
  position: absolute;
  left: 20%;
  top: 25%;
}
.professional-skills h2 {
  font-size: 48px;
  color: #23aeb0;
  letter-spacing: 15px;
  position: relative; 
  right: -300%;
}
.skills-list {
  position: relative;
  left: -260%;
}
.tag-panel {
    margin: 15px auto
}
.tag {
    background-color: #1c9496;
    color: #aee2d9;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 6px;
    margin-right: 3px;
    margin-bottom: 3px;
    opacity: 0.5
}
.expert {
  padding: 4px 10px;
  opacity: 1
}
.familiar {
    opacity: 0.75
}
/*工作经历*/
.work-experience {
  margin: 0 autol
}
.work-experience h2 {
  font-size: 48px;
  color: #139725;
  letter-spacing: 15px;
  position: relative; 
  left: -380%;
}
.work-list {
  width: 100%;
  position: absolute;
  top: 50px;
}
.slide p {
  margin: 0 0 0 85px;
}
.work-list .slide-left {
  float: left;
  width: 30%;
  height: 500px;
  border-radius: 8px;
  margin-left: 90px;
}
.work-list .slide-right {
  float: left;
  width: 40%;
  height: 500px;
  margin-left: 40px;
  padding: 50px 0 0 15px;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  color: #139725;
}
.slide-left img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.slide-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-right a {
  color: #139725;
}
.slide-right a:hover {
  color: #053adf;
}

.slide-content {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  color: #139725;
  line-height: 30px;
  text-align: left; 
}
.slide-content-img img {
  display: block;
  margin: 0 auto 10px;
}

/*兴趣爱好*/
.interests {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 25%;
  text-align: center;
}
.interests h2 {
  font-size: 48px;
  color: #23aeb0;
  letter-spacing: 15px;
}
.interests-list div {
  display: flex;
  flex-direction: row;
  color: #fff;
}
.interests-list p {
  width: 150px;
  height: 40px;
  line-height: 40px;
  background: #28b3d6;
  border: 4px solid #14a2c2;
  border-radius: 50%;
  margin-left: 30px;
}

/*移动端*/
/*.personal-details {
  width: 60%;
  margin: 0 auto;
  color: #0a8224;
  text-align: left;
}
@media screen and (min-width: 767px) {
  .visile {
    display: block!important;
  }
  .sidebar {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1600px) {
  .sidebar {
    display: block!important;
  }
}*/